<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Osvaldo Ocampo" />
    <meta name="copyright" content="Osvaldo Ocampo" />
    <meta
      name="description"
      content="Conoce a los distintos personajes que le dan vida a Spider-man y adéntrate en sus increíbles historias, seguramente tú ya tienes tu favorito."
    />
    <title>Spiderverso</title>
    <!-- Favicon -->
    <link
      rel="shortcut icon"
      href="../assets/images/general/favicon.png"
      type="image/x-icon"
    />
    <!-- Bootstrap stylesheet -->
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <!-- Custom styles -->
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <!-- Navigation -->
    <header class="header fixed-top">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="./index.html">
            <img
              src="../assets/images/general/logotipo.png"
              alt="Spiderverso logo"
              class="navbar-brand__logo"
            />
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <label class="hamburger">
              <input type="checkbox" id="checkbox" />
              <svg viewBox="0 0 32 32">
                <path
                  class="line line-top-bottom"
                  d="M27 10 13 10C10.8 10 9 8.2 9 6 9 3.5 10.8 2 13 2 15.2 2 17 3.8 17 6L17 26C17 28.2 18.8 30 21 30 23.2 30 25 28.2 25 26 25 23.8 23.2 22 21 22L7 22"
                ></path>
                <path class="line" d="M7 16 27 16"></path>
              </svg>
            </label>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="../index.html"
                  >Inicio</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="./characters.html"
                  >Spiderverso</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./comics.html">Comics</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./videos.html">Videos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./contact-us.html">Contáctanos</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <!-- Main -->
    <main class="main">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1 class="font-title">El Spiderverso</h1>
            <p class="font-intro mt-4">
              El Spider Verse es un evento que tiene como protagonistas
              principales a todas (o casi todas) las versiones alternativas de
              Spider-Man en una misma historia. El evento se centra en el Peter
              Parker de la Tierra-616 uniendo a los Spider-Men de todo el
              multiverso para combatir la amenaza de los Herederos mientras que
              al mismo tiempo explora las diversas realidades de donde provienen
              sus homólogos arácnidos.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="gallary-container">
              <div class="card custom-card">
                <img
                  src="../assets/images/characters/miles.jpg"
                  class="card-img"
                  alt="Imagen de Miles Morales"
                />
                <div class="card-img-overlay p-0">
                  <strong class="card-title custom-card__title">
                    <a class="custom-card__link js-modal" href="javascript:;"
                      >Miles Morales</a
                    >
                  </strong>
                </div>
              </div>
              <div class="card custom-card">
                <img
                  src="../assets/images/characters/gwen.jpg"
                  class="card-img"
                  alt="Imagen de Ghost Spider"
                />
                <div class="card-img-overlay p-0">
                  <strong class="card-title custom-card__title">
                    <a class="custom-card__link js-modal" href="javascript:;"
                      >Ghost Spider</a
                    >
                  </strong>
                </div>
              </div>
              <div class="card custom-card">
                <img
                  src="../assets/images/characters/spider-b-parker.jpg"
                  class="card-img"
                  alt="Imagen de Peter B Parker"
                />
                <div class="card-img-overlay p-0">
                  <strong class="card-title custom-card__title">
                    <a class="custom-card__link js-modal" href="javascript:;"
                      >Spider B Parker</a
                    >
                  </strong>
                </div>
              </div>
              <div class="card custom-card">
                <img
                  src="../assets/images/characters/spiderman-2099.jpg"
                  class="card-img"
                  alt="Imagen de Miguel O'Hara"
                />
                <div class="card-img-overlay p-0">
                  <strong class="card-title custom-card__title">
                    <a class="custom-card__link js-modal" href="javascript:;"
                      >Miguel O'Hara</a
                    >
                  </strong>
                </div>
              </div>
              <div class="card custom-card">
                <img
                  src="../assets/images/characters/spider-ham.jpg"
                  class="card-img"
                  alt="Imagen de Spider Ham"
                />
                <div class="card-img-overlay p-0">
                  <strong class="card-title custom-card__title">
                    <a class="custom-card__link js-modal" href="javascript:;"
                      >Spider Ham</a
                    >
                  </strong>
                </div>
              </div>
              <div class="card custom-card">
                <img
                  src="../assets/images/characters/spider-b-parker.jpg"
                  class="card-img"
                  alt="Imagen de Peter B Parker"
                />
                <div class="card-img-overlay p-0">
                  <strong class="card-title custom-card__title">
                    <a class="custom-card__link js-modal" href="javascript:;"
                      >Spider B Parker</a
                    >
                  </strong>
                </div>
              </div>
              <div class="card custom-card">
                <img
                  src="../assets/images/characters/spiderman-2099.jpg"
                  class="card-img"
                  alt="Imagen de Miguel O'Hara"
                />
                <div class="card-img-overlay p-0">
                  <strong class="card-title custom-card__title">
                    <a class="custom-card__link js-modal" href="javascript:;"
                      >Miguel O'Hara</a
                    >
                  </strong>
                </div>
              </div>
              <div class="card custom-card">
                <img
                  src="../assets/images/characters/spider-ham.jpg"
                  class="card-img"
                  alt="Imagen de Spider Ham"
                />
                <div class="card-img-overlay p-0">
                  <strong class="card-title custom-card__title">
                    <a class="custom-card__link js-modal" href="javascript:;"
                      >Spider Ham</a
                    >
                  </strong>
                </div>
              </div>
              <div class="card custom-card">
                <img
                  src="../assets/images/characters/miles.jpg"
                  class="card-img"
                  alt="Imagen de Miles Morales"
                />
                <div class="card-img-overlay p-0">
                  <strong class="card-title custom-card__title">
                    <a class="custom-card__link js-modal" href="javascript:;"
                      >Miles Morales</a
                    >
                  </strong>
                </div>
              </div>
              <div class="card custom-card">
                <img
                  src="../assets/images/characters/gwen.jpg"
                  class="card-img"
                  alt="Imagen de Ghost Spider"
                />
                <div class="card-img-overlay p-0">
                  <strong class="card-title custom-card__title">
                    <a class="custom-card__link js-modal" href="javascript:;"
                      >Ghost Spider</a
                    >
                  </strong>
                </div>
              </div>
              <div class="card custom-card">
                <img
                  src="../assets/images/characters/miles.jpg"
                  class="card-img"
                  alt="Imagen de Miles Morales"
                />
                <div class="card-img-overlay p-0">
                  <strong class="card-title custom-card__title">
                    <a class="custom-card__link js-modal" href="javascript:;"
                      >Miles Morales</a
                    >
                  </strong>
                </div>
              </div>
              <div class="card custom-card">
                <img
                  src="../assets/images/characters/gwen.jpg"
                  class="card-img"
                  alt="Imagen de Ghost Spider"
                />
                <div class="card-img-overlay p-0">
                  <strong class="card-title custom-card__title">
                    <a class="custom-card__link js-modal" href="javascript:;"
                      >Ghost Spider</a
                    >
                  </strong>
                </div>
              </div>
              <div class="card custom-card">
                <img
                  src="../assets/images/characters/spider-b-parker.jpg"
                  class="card-img"
                  alt="Imagen de Peter B Parker"
                />
                <div class="card-img-overlay p-0">
                  <strong class="card-title custom-card__title">
                    <a class="custom-card__link js-modal" href="javascript:;"
                      >Spider B Parker</a
                    >
                  </strong>
                </div>
              </div>
              <div class="card custom-card">
                <img
                  src="../assets/images/characters/spiderman-2099.jpg"
                  class="card-img"
                  alt="Imagen de Miguel O'Hara"
                />
                <div class="card-img-overlay p-0">
                  <strong class="card-title custom-card__title">
                    <a class="custom-card__link js-modal" href="javascript:;"
                      >Miguel O'Hara</a
                    >
                  </strong>
                </div>
              </div>
              <div class="card custom-card">
                <img
                  src="../assets/images/characters/spider-ham.jpg"
                  class="card-img"
                  alt="Imagen de Spider Ham"
                />
                <div class="card-img-overlay p-0">
                  <strong class="card-title custom-card__title">
                    <a class="custom-card__link js-modal" href="javascript:;"
                      >Spider Ham</a
                    >
                  </strong>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!-- Footer -->
    <footer class="footer">
      <div class="container d-flex justify-content-between align-items-center">
        <p class="footer__copyright">
          <strong>Spiderverso | Todos los derechos reservados ©</strong>
        </p>
        <div class="social-networks">
          <a
            href="https://www.facebook.com/SpiderManATravesDelSpiderverso/?brand_redir=850223265102675"
            class="social-networks__link"
            target="_blank"
          >
            <img
              src="../assets/images/social/facebook.png"
              alt="Logotipo de Facebook"
              class="social-networks__logo"
            />
          </a>
          <a
            href="https://twitter.com/los_vere_en_sue"
            class="social-networks__link"
            target="_blank"
          >
            <img
              src="../assets/images/social/twitter.png"
              alt="Logotipo de Twitter"
              class="social-networks__logo"
            />
          </a>
          <a
            href="https://www.sonypictures.com.mx/peliculas/spider-man-traves-del-spider-verso"
            class="social-networks__link"
            target="_blank"
          >
            <img
              src="../assets/images/social/google.png"
              alt="Logotipo de Google +"
              class="social-networks__logo"
            />
          </a>
        </div>
      </div>
    </footer>

    <!-- Modal of We continue working for you -->
    <div class="modal fade" id="modalWorking" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content bg-dark text-light">
          <div class="modal-header p-4">
            <h5 class="modal-title h2">Página en progreso</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body px-4 py-5">
            <p class="font-intro">
              <strong>Continuamos trabajando para tí</strong>! La página a la
              que deseas acceder por ahora se encuentra en desarrollo, pero muy
              pronto estara lista para tí 😃.
            </p>
            <p class="font-intro mt-4">Agradecemos tu comprensión!!</p>
          </div>
          <div class="modal-footer border-top-0 pt-0 px-4 pb-4">
            <button
              type="button"
              class="btn btn-primary btn--width"
              data-bs-dismiss="modal"
            >
              Enterado
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap script -->
    <script src="../js/bootstrap.min.js"></script>
    <!-- My Scripts -->
    <script src="../js/scripts.js"></script>
  </body>
</html>
