<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Osvaldo Ocampo" />
    <meta name="copyright" content="Osvaldo Ocampo" />
    <meta
      name="description"
      content="En esta galería recopilamos imágenes de algunos de los comic's más representativos del Spiderverso, conócelos y disfruta sus historias."
    />
    <title>Comics</title>
    <!-- Favicon -->
    <link
      rel="shortcut icon"
      href="../assets/images/general/favicon.png"
      type="image/x-icon"
    />
    <!-- Custom styles -->
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body></body>
</html>
