<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Osvaldo Ocampo" />
    <meta name="copyright" content="Osvaldo Ocampo" />
    <meta
      name="description"
      content="En esta galería recopilamos imágenes de algunos de los comic's más representativos del Spiderverso, conócelos y disfruta sus historias."
    />
    <title>Comics</title>
    <!-- Favicon -->
    <link
      rel="shortcut icon"
      href="../assets/images/general/favicon.png"
      type="image/x-icon"
    />
    <!-- Bootstrap stylesheet -->
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <!-- Custom styles -->
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <!-- Navigation -->
    <header class="header fixed-top">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="./index.html">
            <img
              src="../assets/images/general/logotipo.png"
              alt="Spiderverso logo"
              class="navbar-brand__logo"
            />
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <label class="hamburger">
              <input type="checkbox" id="checkbox" />
              <svg viewBox="0 0 32 32">
                <path
                  class="line line-top-bottom"
                  d="M27 10 13 10C10.8 10 9 8.2 9 6 9 3.5 10.8 2 13 2 15.2 2 17 3.8 17 6L17 26C17 28.2 18.8 30 21 30 23.2 30 25 28.2 25 26 25 23.8 23.2 22 21 22L7 22"
                ></path>
                <path class="line" d="M7 16 27 16"></path>
              </svg>
            </label>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="../index.html"
                  >Inicio</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./characters.html">Spiderverso</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="./comics.html">Comics</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./videos.html">Videos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./contact-us.html">Contáctanos</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <!-- Main -->
    <main class="main">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1 class="font-title">Comics</h1>
            <p class="font-intro mt-4">
              El estreno de “Spider-Man: Cruzando el Multiverso ” (“Spider-Man:
              Across the Spider-verse”), la secuela de “Spider-Man: Un nuevo
              universo” (“Spider-Man: Into the Spider-verse”) ha dejado una cosa
              muy clara al público generalista: hay muchas variantes de
              Spider-Man. Es decir, muchas versiones alternativas del héroe.
              Aunque los más conocidos de estos Spideys alternativos son
              precisamente los protagonistas de esta película, Miles Morales y
              la Spider-Gwen Stacy (así como la versión cuarentona de Spidey),
              hemos creído oportuno repasar también al resto de Spideys de otros
              universos que aparecen en esta película. Aunque sea a modo de
              cameo.
            </p>
          </div>
          <div class="col-12">
            <div class="gallary-container">
              <div class="card custom-card">
                <img
                  src="../assets/images/comics/all-spiderman.jpg"
                  class="card-img"
                  alt="Imagen de la portada de All - new Spider-man"
                />
                <div class="card-img-overlay p-0">
                  <strong class="card-title custom-card__title">
                    <a class="custom-card__link" href="comic-detail.html"
                      >All-New Spiderman</a
                    >
                  </strong>
                </div>
              </div>
              <div class="card custom-card">
                <img
                  src="../assets/images/comics/amazing-sipider.jpg"
                  class="card-img"
                  alt="Imagen de la portada de The Amazing Spider-man"
                />
                <div class="card-img-overlay p-0">
                  <strong class="card-title custom-card__title">
                    <a class="custom-card__link" href="comic-detail.html"
                      >The Amazing Spider-man</a
                    >
                  </strong>
                </div>
              </div>
              <div class="card custom-card">
                <img
                  src="../assets/images/comics/masacre.jpg"
                  class="card-img"
                  alt="Imagen de la portada de Ultimate Spiderman - Masacre"
                />
                <div class="card-img-overlay p-0">
                  <strong class="card-title custom-card__title">
                    <a class="custom-card__link" href="comic-detail.html"
                      >Ultimate Spider - Masacre</a
                    >
                  </strong>
                </div>
              </div>
              <div class="card custom-card">
                <img
                  src="../assets/images/comics/2099.jpg"
                  class="card-img"
                  alt="Imagen de la portada de Spiderman-2099"
                />
                <div class="card-img-overlay p-0">
                  <strong class="card-title custom-card__title">
                    <a class="custom-card__link" href="comic-detail.html"
                      >Spider-man 2099 - Número 1</a
                    >
                  </strong>
                </div>
              </div>
              <div class="card custom-card">
                <img
                  src="../assets/images/comics/spider-ham.jpg"
                  class="card-img"
                  alt="Imagen de la portada de Spider-Ham"
                />
                <div class="card-img-overlay p-0">
                  <strong class="card-title custom-card__title">
                    <a class="custom-card__link" href="comic-detail.html"
                      >Spider Ham - Civil War</a
                    >
                  </strong>
                </div>
              </div>
              <div class="card custom-card">
                <img
                  src="../assets/images/comics/spider-verse.jpg"
                  class="card-img"
                  alt="Imagen de la portada del Spiderverse"
                />
                <div class="card-img-overlay p-0">
                  <strong class="card-title custom-card__title">
                    <a class="custom-card__link" href="comic-detail.html"
                      >The Spider-verse | Marvel</a
                    >
                  </strong>
                </div>
              </div>
              <div class="card custom-card">
                <img
                  src="../assets/images/comics/the-amazing.jpg"
                  class="card-img"
                  alt="Imagen de la portada de the Amazing Spider-man"
                />
                <div class="card-img-overlay p-0">
                  <strong class="card-title custom-card__title">
                    <a class="custom-card__link" href="comic-detail.html"
                      >The Amazing Spider-man #60</a
                    >
                  </strong>
                </div>
              </div>
              <div class="card custom-card">
                <img
                  src="../assets/images/comics/peter-porker.jpg"
                  class="card-img"
                  alt="Imagen de la portada de Peter Porker - Spider Ham"
                />
                <div class="card-img-overlay p-0">
                  <strong class="card-title custom-card__title">
                    <a class="custom-card__link" href="comic-detail.html"
                      >Peter Porker - Spider Ham</a
                    >
                  </strong>
                </div>
              </div>
              <div class="card custom-card">
                <img
                  src="../assets/images/comics/all-spiderman.jpg"
                  class="card-img"
                  alt="Imagen de la portada de All - new Spider-man"
                />
                <div class="card-img-overlay p-0">
                  <strong class="card-title custom-card__title">
                    <a class="custom-card__link" href="comic-detail.html"
                      >All-New Spiderman</a
                    >
                  </strong>
                </div>
              </div>
              <div class="card custom-card">
                <img
                  src="../assets/images/comics/amazing-sipider.jpg"
                  class="card-img"
                  alt="Imagen de la portada de The Amazing Spider-man"
                />
                <div class="card-img-overlay p-0">
                  <strong class="card-title custom-card__title">
                    <a class="custom-card__link" href="comic-detail.html"
                      >The Amazing Spider-man</a
                    >
                  </strong>
                </div>
              </div>
              <div class="card custom-card">
                <img
                  src="../assets/images/comics/masacre.jpg"
                  class="card-img"
                  alt="Imagen de la portada de Ultimate Spiderman - Masacre"
                />
                <div class="card-img-overlay p-0">
                  <strong class="card-title custom-card__title">
                    <a class="custom-card__link" href="comic-detail.html"
                      >Ultimate Spider - Masacre</a
                    >
                  </strong>
                </div>
              </div>
              <div class="card custom-card">
                <img
                  src="../assets/images/comics/2099.jpg"
                  class="card-img"
                  alt="Imagen de la portada de Spiderman-2099"
                />
                <div class="card-img-overlay p-0">
                  <strong class="card-title custom-card__title">
                    <a class="custom-card__link" href="comic-detail.html"
                      >Spider-man 2099 - Número 1</a
                    >
                  </strong>
                </div>
              </div>
              <div class="card custom-card">
                <img
                  src="../assets/images/comics/spider-ham.jpg"
                  class="card-img"
                  alt="Imagen de la portada de Spider-Ham"
                />
                <div class="card-img-overlay p-0">
                  <strong class="card-title custom-card__title">
                    <a class="custom-card__link" href="comic-detail.html"
                      >Spider Ham - Civil War</a
                    >
                  </strong>
                </div>
              </div>
              <div class="card custom-card">
                <img
                  src="../assets/images/comics/spider-verse.jpg"
                  class="card-img"
                  alt="Imagen de la portada del Spiderverse"
                />
                <div class="card-img-overlay p-0">
                  <strong class="card-title custom-card__title">
                    <a class="custom-card__link" href="comic-detail.html"
                      >The Spider-verse | Marvel</a
                    >
                  </strong>
                </div>
              </div>
              <div class="card custom-card">
                <img
                  src="../assets/images/comics/the-amazing.jpg"
                  class="card-img"
                  alt="Imagen de la portada de the Amazing Spider-man"
                />
                <div class="card-img-overlay p-0">
                  <strong class="card-title custom-card__title">
                    <a class="custom-card__link" href="comic-detail.html"
                      >The Amazing Spider-man #60</a
                    >
                  </strong>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!-- Footer -->
    <footer class="footer">
      <div class="container d-flex justify-content-between align-items-center">
        <p class="footer__copyright">
          <strong>Spiderverso | Todos los derechos reservados ©</strong>
        </p>
        <div class="social-networks">
          <a
            href="https://www.facebook.com/SpiderManATravesDelSpiderverso/?brand_redir=850223265102675"
            class="social-networks__link"
            target="_blank"
          >
            <img
              src="../assets/images/social/facebook.png"
              alt="Logotipo de Facebook"
              class="social-networks__logo"
            />
          </a>
          <a
            href="https://twitter.com/los_vere_en_sue"
            class="social-networks__link"
            target="_blank"
          >
            <img
              src="../assets/images/social/twitter.png"
              alt="Logotipo de Twitter"
              class="social-networks__logo"
            />
          </a>
          <a
            href="https://www.sonypictures.com.mx/peliculas/spider-man-traves-del-spider-verso"
            class="social-networks__link"
            target="_blank"
          >
            <img
              src="../assets/images/social/google.png"
              alt="Logotipo de Google +"
              class="social-networks__logo"
            />
          </a>
        </div>
      </div>
    </footer>
    <!-- Bootstrap script -->
    <script src="../js/bootstrap.min.js"></script>
  </body>
</html>
