<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Osvaldo Ocampo" />
    <meta name="copyright" content="Osvaldo Ocampo" />
    <meta
      name="description"
      content="Hemos recopilado la información necesaria para que conozcas más sobre tu comic favorito... ¿Cuál es el tuyo?"
    />
    <title>Detalle del comic</title>
    <!-- Favicon -->
    <link
      rel="shortcut icon"
      href="../assets/images/general/favicon.png"
      type="image/x-icon"
    />
    <!-- Bootstrap stylesheet -->
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <!-- Custom styles -->
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <!-- Bootstrap script -->
    <script src="../js/bootstrap.min.js"></script>
  </body>
</html>
